*{
    box-sizing: border-box;
    text-align: center;
}
.btn1{
    border: none;
    background-color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: bold;
    font-weight: 800;
    color:white;
    margin: 4px 2px;
    cursor: pointer;
    margin-top: 30px;
}
.btn2{
    border: none;
    background-color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: bold;
    font-weight: 800;
    color:white;
    margin: 4px 2px;
    cursor: pointer;
    margin-left: 110px;
    margin-top: 30px;
}
.btn1:hover{
   background-color:rgb(179, 177, 177);
   color:black;
   font-size: bold;
   font-weight: 800;
}
.btn2:hover{
    background-color:rgb(179, 177, 177);
    color:black;
    font-size: bold;
    font-weight: 800;
 }